.projects {
  height: 76vh;
  padding-top: 3rem;
  overflow-y: auto;
}

.projects::-webkit-scrollbar {
  width: 0.5em;
}

.projects::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.projects::-webkit-scrollbar-thumb {
  background-color: #00f260;
  outline: 1px solid #00f260;
  border-radius: 6px;
}

.projectcard__wrapper {
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
}

.projectcard__image-container {
  width: 100%;
  height: 200px;
}

.projectcard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
  border: 1px solid #00f260;
}

.projectcard__title {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectcard__title > span {
  margin-left: 0.8rem;
}

.projectcard__icon {
  height: 3rem;
  width: 3rem;
}
