@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

:root {
  --color-background-primary: #00f260;
  --color-background-secondary: #0575e6;
}

a {
  text-decoration: none;
  color: #354545;
}

a:hover {
  text-decoration: none;
  color: #000;
}

body,
html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right bottom,
    var(--color-background-primary),
    var(--color-background-secondary)
  );
  background-attachment: fixed;
  font-size: 62.5%;
  color: #354358;
}

.container {
  padding-top: 5rem;
}

.row app__row {
  height: 90vh;
}

.ant-tabs-tab {
  font-size: 1.6rem !important;
}

.ant-tabs-ink-bar {
  background: var(--color-background-primary) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-background-primary) !important;
}
